<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Riwayat Transaksi</title>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/stylesheets/riwayat.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>

</head>

<body>

    <!-- SIDEBAR -->
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="/images/logo.png" alt="logo">
                </span>

                <div class="text header-text">
                    <span class="name">VendorVault</span>
                    <span class="profession">Effortless Commerce</span>
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">
                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/admin/dashboard">
                            <i class='bx bx-home icon' ></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>
                </ul>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/admin/users">
                            <i class='bx bxs-user-account icon' ></i>
                            <span class="text nav-text">Users</span>
                        </a>
                    </li>
                </ul>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/admin/transaction-history">
                            <i class='bx bx-detail icon' ></i>
                            <span class="text nav-text">Order Record</span>
                        </a>
                    </li>
                </ul>
                

                <ul class="menu-links">
                    <li class="nav-link">
                        <a href="/admin/graph">
                            <i class='bx bxs-doughnut-chart icon'></i>
                            <span class="text nav-text">Graph</span>
                        </a>
                    </li>
                </ul>

            </div>

            <div class="bottom-content">
                <div class="hr-horizontal"></div>
                <li class="">
                    <a href="/logout">
                        <i class='bx bx-log-out icon' ></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>
            </div>

        </div>
    </nav>
    
    
<!-- BAGIAN isi -->
    <div class="card">

        <div class="card-body card-color">
            <h5 class="card-title">Riwayat Transaksi</h5>
            <div class="hr-horizontal"></div>
            <div class="search-container">
                <div class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" id="searchInput" placeholder="Search.." />
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID Transaksi</th>
                        <th scope="col">Nama Kasir</th>
                        <th scope="col">Tanggal</th>
                        <th scope="col">Waktu</th>
                        <th scope="col">Total Harga</th>
                        <th scope="col">Bayar</th>
                        <th scope="col">Kembali</th>
                        <th scope="col">Nama Barang</th>
                        <th scope="col">Jumlah</th>
                        <th scope="col">Harga</th>
                    </tr>
                </thead>
                <tbody>
                    <% for( let i = 0; i < salesData.length; i++ ) { %>
                        <tr>
                            <td rowspan="<%= salesData[i].detail.length %>"><%= salesData[i].transaction_id %></td>
                            <td rowspan="<%= salesData[i].detail.length %>"><%= salesData[i].username %></td>
                            <td rowspan="<%= salesData[i].detail.length %>"><%= salesData[i].transaction_date %></td>
                            <td rowspan="<%= salesData[i].detail.length %>"><%= salesData[i].transaction_time %></td>
                            <td rowspan="<%= salesData[i].detail.length %>"><%= salesData[i].total_price %></td>
                            <td rowspan="<%= salesData[i].detail.length %>"><%= salesData[i].payment %></td>
                            <td class="bordered-cell" rowspan="<%= salesData[i].detail.length %>"><%= salesData[i].return_payment %></td>
                            <td><%= salesData[i].detail[0].product_name %></td>
                            <td><%= salesData[i].detail[0].amount_product %></td>
                            <td><%= salesData[i].detail[0].price %></td>
                        </tr>
                        <% for( let j = 1; j < salesData[i].detail.length; j++ ) { %>
                            <tr>
                                <td><%= salesData[i].detail[j].product_name %></td>
                                <td><%= salesData[i].detail[j].amount_product %></td>
                                <td><%= salesData[i].detail[j].price %></td>
                            </tr>
                        <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

    <script src="/javascripts/script.js"></script>

</body>
</html>