<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nota Pembelian</title>
    <link rel="icon" href="/images/logo.png">
    <link rel="stylesheet" href="/stylesheets/nota.css">
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <style>
        @media print {
          body {
            margin: 0; /* Hilangkan margin default */
            padding: 0; /* Hilangkan padding default */
          }
          .nota {
            width: 80mm; /* Sesuaikan lebar nota dengan ukuran kertas */
            margin: auto; /* Pusatkan elemen */
            padding: 10px; /* Tambahkan sedikit padding */
            border: 1px solid #000; /* Opsional: Tambahkan border */
            font-size: 12px; /* Sesuaikan ukuran font */
          }
      
          /* Atur margin untuk halaman cetak */
          @page {
            size: 115mm auto; /* Lebar 80mm, panjang otomatis sesuai konten */
            margin: 0; /* Hilangkan margin default */
          }
        }
      </style>      
</head>

<body>
    
<!-- BAGIAN isi -->
    <div class="card">

        <div class="nota">

            <div class="garis-nota">

                <div class="pertama">
                    <span class="name-toko">VendorVault</span>

                    <span class="name-moto">Empowering Your Business, One Transaction at a Time</span>

                    <span class="nomor">No. Telp 088213135658</span>

                    <span class="nomor-nota">102738912649012709849</span>
                </div>

                <div class="hr-dash"></div>

                <div class="kedua">
                    <div class="tanggal-kasir">
                        <span class="tgl"><%= transaction.transaction_date %></span>
                        <span>Kasir</span>
                    </div>

                    <div class="waktu-kasir">
                        <span class="wkt"><%= transaction.transaction_time %></span>
                        <span><%= transaction.username %></span>
                    </div>

                    <div class="jarak"></div>

                    <span class="id-trans">No. 03</span>
                </div>

                <div class="hr-dash"></div>

                <div class="ketiga">
                    <% for( let i = 0; i < transaction.detail.length; i++ ) { %>
                        <span class="nmb"><%= i+1 %>. <%= transaction.detail[i].product_name %></span>
                        <div class="barang">
                            <span class="jml"><%= transaction.detail[i].amount_product %> x <%= transaction.detail[i].product_price %></span>
                            <span class="hrg"><%= transaction.detail[i].price %></span>
                        </div>
                    <% } %>

                <div class="hr-dash"></div>

                <div class="keempat">

                    <div class="total">
                        <span class="total-barang"></span> 
                        <span class="nomor-total"></span>
                    </div>

                    <div class="subtotal">
                        <span class="subt">Sub Total</span>
                        <span class="hrgs"><%= transaction.total_price %></span>
                    </div>

                    <div class="barang">
                        <span class="ttl">Total</span>
                        <span class="hrgsi"><%= transaction.total_price %></span>
                    </div>

                    <div class="barang">
                        <span class="byr">Bayar</span>
                        <span class="hrgs"><%= transaction.payment %></span>
                    </div>

                    <div class="barang">
                        <span class="kmbl">Kembali</span>
                        <span class="hrgs"><%= transaction.return_payment %></span>
                    </div>
                </div>

                <div class="trkh"><span>Terimakasih Telah Berbelanja</span></div>

            </div>

        </div>
    </div>
    <script>
        window.onload = () => {
          window.print(); // Otomatis mencetak
        };
      </script>
</body>
</html>